<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.3.1/dist/css/coreui.min.css" rel="stylesheet">
    <title>Dashboard page</title>
    <script defer src="https://cdn.jsdelivr.net/npm/@coreui/coreui@5.3.1/dist/js/coreui.bundle.min.js"></script>
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <%= useName %>
            </a>
            <button class="navbar-toggler" type="button" data-coreui-toggle="collapse"
                data-coreui-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-coreui-toggle="dropdown"
                            aria-expanded="false">
                            Action
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/">Signup</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="avatar bg-primary text-white">
                        <%= avatarName %>
                            <span class="avatar-status bg-success"></span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="pt-5 container-fluid">
        <h1 class="fs-3 text-light">Welcome, <%= useName %>
        </h1>
    </div>
</body>

</html>